@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;500;700&display=swap");
*::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  outline: none;
  border: none;
}

button {
  border: none;
  outline: none;
}

bd-grid {
  display: -ms-grid;
  display: grid;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  padding-top: 40px;
}

.main_sec {
  background: url(../img/main-bg.jpg) 50% 50%/100% no-repeat;
  height: 850px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.user_block {
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 26.5px;
}
