@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;500;700&display=swap");
*::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  outline: none;
  border: none;
}

button {
  border: none;
  outline: none;
}

bd-grid {
  display: -ms-grid;
  display: grid;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  background-color: #F78065;
  padding: 5px 70px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.transparent {
  color: rgba(0, 0, 0, 0.5);
}

.colored {
  color: #F78065;
}

.container {
  position: relative;
}

.logo_link {
  cursor: pointer;
}

.header {
  padding-top: 40px;
}

.main_sec {
  background: url(../img/main-bg.jpg) 50% 50%/100% no-repeat;
  height: 800px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.user_block {
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 26.5px;
}

.user_btn {
  cursor: pointer;
}

.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 110px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.card {
  position: absolute;
  top: 40%;
  left: 8%;
  padding: 60px 60px;
  background-color: #fff;
  max-width: 540px;
}

.card_title {
  font-size: 39px;
  font-weight: 700;
  font-family: "Merriweather", serif;
}

.card_subtitle {
  font-size: 20px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.btn_title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.serv_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.serv_text {
  padding-top: 88px;
}

.serv_columns {
  max-width: 390px;
}

.serv_title {
  font-family: "Merriweather", serif;
  font-size: 24px;
  font-weight: 700;
}

.serv_sub {
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.serv_sub_sub {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.facilities_title {
  font-size: 36px;
  font-family: "Merriweather", serif;
}

.fac_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: justify;
}

.fac_columns {
  max-width: 275px;
}

.fac_title {
  font-size: 22px;
  font-weight: 700;
  font-family: "Merriweather", serif;
}

.fac_subtitle {
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

.fac_sub_sub {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.join_title {
  font-size: 36px;
  font-weight: 700;
  font-family: "Merriweather", serif;
}

.join_subtitle {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

.comm_title {
  font-weight: 700;
  font-family: "Merriweather", serif;
  font-size: 24px;
}

.comm_subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.comm_sub {
  font-family: "Montserrat", sans-serif;
  font-size: small;
}
