// fonts
$main-font: 'font-family: 'Merriweather', serif;';
$sub-font: 'font-family: 'Montserrat', sans-serif;';

// font size
$huge: 48px;
$bigest: 39px;
$big: 36px;
$medium: 24px;
$mediumest: 20px;
$small: 18px;
$smallest: 16px;
$ultra-small: 14px;

// font weight
$bold: 700;
$medium: 400;

// colors
$main-color: #F78065;
$footer-color: #F7F7F7;
$transparent: rgba(0, 0, 0, .5);

